<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <script src="../js/color-modes.js"></script>
    <link
      rel="stylesheet"
      href="../bootstrap-icons-1.10.5/font/bootstrap-icons.min.css"
    />
    <link rel="shortcut icon" href="../img/LH.png" type="image/x-icon">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.112.5" />
    <title>Add Hotel</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="../css/dark.light.css">


    <!-- Custom styles for this template -->
    <link href="../css/sidebars.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/myStyle.css" />
  </head>
  <body>


  






    <%- include('../Components/dark.light.ejs') %>

    <main class="d-flex flex-nowrap">
      <%- include('../Components/sidebar.ejs', {currentpage: "add"}) %>

      <section class="w-100">
       <%- include('../Components/addnavbar.ejs') %>

 <!-- Structure Schema filed -->
 
        <form action="/user/add.html" method="post" class="mx-0 row gx-3 gy-4 mt-3">
          <div class="col-md-6">
            <label for="inputfirstName4" class="form-label">Hotel Name:</label>
            <input
            name="hotelName"
              placeholder="*-----------*"
              type="text"
              class="form-control"
              id="inputfirstName4"
            />
          </div>

          <div class="col-md-6">
            <label for="inputlastName4" class="form-label">Code:</label>
            <input
            name="code"
              placeholder="*-----------*"
              type="text"
              class="form-control"
              id="inputlastName4"
            />
          </div>
        
            <div class="col-md-6">
            <label for="inputtele4" class="form-label">Onsite Tel:</label>
            <input
            name="onsiteTel"
              placeholder="0000 000 0000"
              type="text"
              class="form-control"
              id="inputlastName4"
            />
            </div>

            <div class="col-md-6">
              <label for="inputage4" class="form-label">Address:</label>
              <input
              name="address"
                placeholder="*-----------*"
                type="text"
                class="form-control"
                id="inputlastName4"
              />
            </div>

            <div class="col-md-6">
              <label for="inputage4" class="form-label">Website:</label>
              <input
              name="webSite"
                placeholder="*-----------*"
                type="text"
                class="form-control"
                id="inputlastName4"
              />
            </div>


            <div class="col-md-6">
              <label for="inputage4" class="form-label">MEWs ID:</label>
              <input
              name="mewsId"
                placeholder="*-----------*"
                type="text"
                class="form-control"
                id="inputlastName4"
              />
            </div>
      
            <div class="col-md-6">
              <label for="inputage4" class="form-label">AM:</label>
              <input
              name="am"
                placeholder="*-----------*"
                type="text"
                class="form-control"
                id="inputlastName4"
              />
            </div>

            <div class="col-md-6">
              <label for="inputage4" class="form-label">GM:</label>
              <input
              name="gm"
                placeholder="*-----------*"
                type="text"
                class="form-control"
                id="inputlastName4"
              />
            </div>
            
            <div class="col-md-6">
              <label for="inputage4" class="form-label">Vault:</label>
              <input
              name="vault"
                placeholder="*-----------*"
                type="text"
                class="form-control"
                id="inputlastName4"
              />
            </div>
        
            <div class="col-md-6">
              
              <label for="inputCountry" class="form-label">Policy:</label>
              <select name="policy" id="inputPolicy" class="form-select">
                <option selected hidden disabled>Choose here ...</option>

                <option>Mews only</option>
                <option>legacy</option>

              </select>
            </div>



          <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </section>
    </main>
    <script src="../js/bootstrap.bundle.min.js"></script>

    <script src="../js/sidebars.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
